<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <button class="btn btn-primary btn-sm box-shadow-primary text-white border-0 mr-3"
    onclick="handleLineLoginButtonClick()">
    Line Login
  </button>
  <script>
    function handleLineLoginButtonClick() {
      let URL = 'https://access.line.me/oauth2/v2.1/authorize?';
      URL += 'response_type=code';
      //channel id
      URL += '&client_id=1657265626';
      // 與Line Developer Channel設定的一樣就好，驗證完就會經過瀏覽器轉址回來
      URL += '&redirect_uri=https://de51-122-117-240-98.jp.ngrok.io/callback';
      // 狀態碼是會從client呼叫端帶到驗證端，再從驗證端帶回
      // 因此應該可以作為一個亂數卡控確保是自   已丟出去的交易碼
      URL += '&state=abcde';
      //要求存取的範圍
      URL += '&scope=openid profile';
      window.location.href = URL;
    }
  </script>
</body>

</html>